# Gmail SMTP credentials
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-app-password

# Your email to receive inquiries
RECIPIENT_EMAIL=your-email@gmail.com

# MongoDB connection
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
MONGO_DB_NAME=portfolio

# Server port
PORT=5000
